In [304]:
import pandas as pd
import numpy as np

# import data

In [305]:
data = pd.read_csv('House_Rent_Dataset.csv')

# inspect data

In [306]:
data.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,18-05-2022,2,10000.0,1100.0,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2.0,Contact Owner
1,13-05-2022,2,20000.0,800.0,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1.0,Contact Owner
2,16-05-2022,2,17000.0,1000.0,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1.0,Contact Owner
3,04-07-2022,2,10000.0,800.0,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1.0,Contact Owner
4,09-05-2022,2,7500.0,850.0,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1.0,Contact Owner

In [307]:
data.shape

(4747, 12)

In [308]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4747 entries, 0 to 4746
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4747 non-null   int64
 2   Rent               4746 non-null   float64
 3   Size               4746 non-null   float64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
 10  Bathroom           4746 non-null   float64
 11  Point of Contact   4746 non-null   object
dtypes: float64(3), int64(1), object(8)
memory usage: 445.2+ KB

In [309]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

06-07-2022    311
12-05-2022    149
04-06-2022    135
09-07-2022    126
23-05-2022    125
             ...
24-04-2022      6
25-04-2022      6
26-04-2022      2
13-04-2022      1
11-07-2022      1
Name: Posted On, Length: 81, dtype: int64
********************
2    2265
1    1167
3    1098
4     189
5      19
6       9
Name: BHK, dtype: int64
********************
15000.0    275
10000.0    248
12000.0    238
20000.0    175
8000.0     162
          ...
4600.0       1
79500.0      1
76000.0      1
45002.0      1
5800.0       1
Name: Rent, Length: 243, dtype: int64
********************
1000.0    240
600.0     225
800.0     220
1200.0    193
500.0     192
         ...
2770.0      1
1252.0      1
904.0       1
721.0       1
855.0       1
Name: Size, Length: 615, dtype: int64
********************
1 out of 2         379
Ground out of 2    350
2 out of 3         312
2 out of 4         308
1 out of 3         293
                  ...
11 out of 31         1
50 out of 75         1
18 out of 26         1
12 out of 27         1
23 out of 34         1
Name: Floor, Length: 480, dtype: int64
********************
Super Area     2446
Carpet Area    2298
Built Area        2
Name: Area Type, dtype: int64
********************
Bandra West                                37
Gachibowli                                 29
Electronic City                            24
Velachery                                  22
Miyapur, NH 9                              22
                                           ..
Kengeri Upanagara                           1
Ittamadu, Banashankari, Outer Ring Road     1
Rmv Extension, Armane Nagar                 1
snv la                                      1
Manikonda, Hyderabad                        1
Name: Area Locality, Length: 2235, dtype: int64
********************
Mumbai       972
Chennai      891
Bangalore    886
Hyderabad    868
Delhi        605
Kolkata      524
Name: City, dtype: int64
********************
Semi-Furnished    2251
Unfurnished       1815
Furnished          680
Name: Furnishing Status, dtype: int64
********************
Bachelors/Family    3444
Bachelors            830
Family               472
Name: Tenant Preferred, dtype: int64
********************
2.0     2291
1.0     1474
3.0      749
4.0      156
5.0       60
6.0       12
7.0        3
10.0       1
Name: Bathroom, dtype: int64
********************
Contact Owner      3216
Contact Agent      1529
Contact Builder       1
Name: Point of Contact, dtype: int64
********************

In [310]:
data.describe()

               BHK          Rent         Size     Bathroom
count  4747.000000  4.746000e+03  4746.000000  4746.000000
mean      2.084685  3.499345e+04   967.490729     1.965866
std       0.834107  7.810641e+04   634.202328     0.884532
min       1.000000  1.200000e+03    10.000000     1.000000
25%       2.000000  1.000000e+04   550.000000     1.000000
50%       2.000000  1.600000e+04   850.000000     2.000000
75%       3.000000  3.300000e+04  1200.000000     2.000000
max       6.000000  3.500000e+06  8000.000000    10.000000

In [311]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4747 entries, 0 to 4746
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4747 non-null   int64
 2   Rent               4746 non-null   float64
 3   Size               4746 non-null   float64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
 10  Bathroom           4746 non-null   float64
 11  Point of Contact   4746 non-null   object
dtypes: float64(3), int64(1), object(8)
memory usage: 445.2+ KB

In [312]:
data['City'].value_counts()

Mumbai       972
Chennai      891
Bangalore    886
Hyderabad    868
Delhi        605
Kolkata      524
Name: City, dtype: int64

In [313]:
sum(data['City'].value_counts())

4746

# check for empty data

In [314]:
for column in data.columns:
    print(f'col:{column}', sum(data[column].value_counts()))

col:Posted On 4746
col:BHK 4747
col:Rent 4746
col:Size 4746
col:Floor 4746
col:Area Type 4746
col:Area Locality 4746
col:City 4746
col:Furnishing Status 4746
col:Tenant Preferred 4746
col:Bathroom 4746
col:Point of Contact 4746

# check for data validity

In [315]:
 data.describe()

               BHK          Rent         Size     Bathroom
count  4747.000000  4.746000e+03  4746.000000  4746.000000
mean      2.084685  3.499345e+04   967.490729     1.965866
std       0.834107  7.810641e+04   634.202328     0.884532
min       1.000000  1.200000e+03    10.000000     1.000000
25%       2.000000  1.000000e+04   550.000000     1.000000
50%       2.000000  1.600000e+04   850.000000     2.000000
75%       3.000000  3.300000e+04  1200.000000     2.000000
max       6.000000  3.500000e+06  8000.000000    10.000000

In [316]:
(data['Size']/data['BHK']).describe()

count    4746.000000
mean      458.454263
std       211.596397
min         3.333333
25%       350.000000
50%       450.000000
75%       550.000000
max      8000.000000
dtype: float64

# cleaning data

eliminate wrong data , here set min area per BHK as >=100 ( data from : https://civilsir.com/minimum-standard-size-of-room-in-residential-building/)

In [317]:
data['rent_per_sqft'] = data['Rent']/data['Size']

In [318]:
data.describe()

               BHK          Rent         Size     Bathroom  rent_per_sqft
count  4747.000000  4.746000e+03  4746.000000  4746.000000    4746.000000
mean      2.084685  3.499345e+04   967.490729     1.965866      39.257087
std       0.834107  7.810641e+04   634.202328     0.884532      59.855230
min       1.000000  1.200000e+03    10.000000     1.000000       0.571429
25%       2.000000  1.000000e+04   550.000000     1.000000      13.333333
50%       2.000000  1.600000e+04   850.000000     2.000000      20.000000
75%       3.000000  3.300000e+04  1200.000000     2.000000      42.005986
max       6.000000  3.500000e+06  8000.000000    10.000000    1500.000000

In [319]:
data = data[((data['Size']/data['BHK']) >= 70)]
data.describe()

               BHK          Rent         Size     Bathroom  rent_per_sqft
count  4596.000000  4.596000e+03  4596.000000  4596.000000    4596.000000
mean      2.082028  3.552144e+04   996.071366     1.972150      33.798667
std       0.835043  7.922626e+04   624.040033     0.888867      42.577223
min       1.000000  1.200000e+03    70.000000     1.000000       0.571429
25%       2.000000  1.000000e+04   600.000000     1.000000      13.333333
50%       2.000000  1.600000e+04   869.000000     2.000000      19.000000
75%       3.000000  3.400000e+04  1200.000000     2.000000      37.142857
max       6.000000  3.500000e+06  8000.000000    10.000000    1400.000000

In [320]:
data.shape

(4596, 13)

In [321]:
data = data[((data['rent_per_sqft']) >= 10)]
data.describe()

               BHK          Rent         Size     Bathroom  rent_per_sqft
count  4215.000000  4.215000e+03  4215.000000  4215.000000    4215.000000
mean      2.089680  3.794751e+04   987.339027     1.994543      36.125029
std       0.848251  8.229293e+04   636.592245     0.904410      43.717786
min       1.000000  3.000000e+03    70.000000     1.000000      10.000000
25%       1.000000  1.100000e+04   585.500000     1.000000      14.545455
50%       2.000000  1.800000e+04   850.000000     2.000000      20.000000
75%       3.000000  3.500000e+04  1200.000000     2.000000      40.824916
max       6.000000  3.500000e+06  8000.000000    10.000000    1400.000000

In [322]:
data.shape

(4215, 13)

# remove outliers

remove data sets outside +/- std dev from mean

In [323]:
def outlier_sizes_remove(df):
    df_output = pd.DataFrame()
    for key , subdf in df.groupby('City'):
        
        m = np.mean(subdf.rent_per_sqft)
        
        st = np.std(subdf.rent_per_sqft)
        
        gen_df = subdf[(subdf.rent_per_sqft > (m-st)) & (subdf.rent_per_sqft <= (m+st))]
        df_output = pd.concat([df_output, gen_df], ignore_index= True)
    return df_output
data =  outlier_sizes_remove(data)
data.describe()

               BHK           Rent         Size     Bathroom  rent_per_sqft
count  3838.000000    3838.000000  3838.000000  3838.000000    3838.000000
mean      2.061751   28950.901511   968.258989     1.947368      30.054791
std       0.812716   35082.339266   580.095148     0.852011      25.106231
min       1.000000    3000.000000    90.000000     1.000000      10.000000
25%       1.000000   11000.000000   600.000000     1.000000      14.117647
50%       2.000000   17000.000000   850.000000     2.000000      19.177429
75%       3.000000   32000.000000  1200.000000     2.000000      33.333333
max       6.000000  350000.000000  8000.000000    10.000000     123.076923

In [324]:
def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for City , City_df in df.groupby('City'):
        bhk_stats = {}
        for bhk , bhk_df in City_df.groupby('BHK'):
            bhk_stats[bhk] = {
                'mean' : np.mean(bhk_df.rent_per_sqft), 
                'std' : np.std(bhk_df.rent_per_sqft),
                'count' : bhk_df.shape[0]
            }
            
        print (City ,bhk_stats)
        for bhk , bhk_df in City_df.groupby('BHK'):
            stats = bhk_stats[bhk]
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices , bhk_df[bhk_df.rent_per_sqft < (stats['mean'])].index.values)
    return df.drop(exclude_indices , axis = 'index')

In [325]:
data = bhk_outlier_remover(data)

Bangalore {1: {'mean': 20.327035605075366, 'std': 9.330449283346413, 'count': 250}, 2: {'mean': 18.07571429507004, 'std': 6.985523531827928, 'count': 403}, 3: {'mean': 22.82900871895051, 'std': 9.386809445106433, 'count': 157}, 4: {'mean': 30.027563430699878, 'std': 12.142852539885988, 'count': 22}}
Chennai {1: {'mean': 18.52639004718011, 'std': 7.646366662845953, 'count': 142}, 2: {'mean': 17.3349228362081, 'std': 5.916529231451819, 'count': 436}, 3: {'mean': 20.07466369353333, 'std': 7.241454882033117, 'count': 191}, 4: {'mean': 24.250563477674227, 'std': 8.944587640375714, 'count': 14}, 5: {'mean': 15.90909090909091, 'std': 0.7575757575757578, 'count': 2}, 6: {'mean': 33.333333333333336, 'std': 0.0, 'count': 1}}
Delhi {1: {'mean': 28.48542922357433, 'std': 13.397139444929099, 'count': 133}, 2: {'mean': 24.40206265471731, 'std': 9.530616555593156, 'count': 184}, 3: {'mean': 28.69615279376229, 'std': 13.526889415272423, 'count': 118}, 4: {'mean': 34.04405855967218, 'std': 18.38138108490577, 'count': 25}}
Hyderabad {1: {'mean': 16.52377838997399, 'std': 4.780677984642386, 'count': 114}, 2: {'mean': 14.953755725786454, 'std': 4.157440938122286, 'count': 296}, 3: {'mean': 17.021191984067602, 'std': 5.2815154696999755, 'count': 201}, 4: {'mean': 18.30031816788728, 'std': 5.566517106272782, 'count': 14}, 5: {'mean': 16.925465838509318, 'std': 2.6397515527950306, 'count': 2}, 6: {'mean': 16.500155617802676, 'std': 4.634526515974396, 'count': 3}}
Kolkata {1: {'mean': 16.39428969820797, 'std': 4.933806475658224, 'count': 110}, 2: {'mean': 14.604077199105232, 'std': 3.983441034804374, 'count': 200}, 3: {'mean': 16.3634647260391, 'std': 5.1166318218900075, 'count': 66}, 4: {'mean': 19.166666666666668, 'std': 5.12996597707294, 'count': 6}, 5: {'mean': 18.367686170212764, 'std': 5.069813829787234, 'count': 2}, 6: {'mean': 20.0, 'std': 0.0, 'count': 1}}
Mumbai {1: {'mean': 69.56617922027698, 'std': 18.927151746752244, 'count': 221}, 2: {'mean': 71.92161323833237, 'std': 19.539638526190544, 'count': 304}, 3: {'mean': 80.44017536100046, 'std': 21.346720910306757, 'count': 169}, 4: {'mean': 95.79019523039483, 'std': 18.360948246347093, 'count': 48}, 5: {'mean': 106.13553113553114, 'std': 4.510479983891848, 'count': 3}}

In [326]:
data.describe

<bound method NDFrame.describe of        Posted On  BHK      Rent    Size            Floor    Area Type  \
12    04-05-2022    1    8000.0   350.0       3 out of 3   Super Area
14    06-07-2022    3   50000.0  2000.0       1 out of 2  Carpet Area
15    09-05-2022    2   13000.0   700.0       1 out of 4   Super Area
16    20-05-2022    1   13500.0   600.0       1 out of 4   Super Area
17    16-06-2022    2   13000.0   700.0  Ground out of 1  Carpet Area
...          ...  ...       ...     ...              ...          ...
3824  20-06-2022    1   45000.0   480.0       7 out of 7  Carpet Area
3826  07-07-2022    2   90000.0   900.0     60 out of 71  Carpet Area
3828  09-07-2022    2   70000.0   760.0      9 out of 22  Carpet Area
3831  25-05-2022    4  280000.0  2500.0     24 out of 60  Carpet Area
3835  08-06-2022    1   35000.0   500.0       1 out of 5   Super Area

                               Area Locality       City Furnishing Status  \
12                               Thanisandra  Bangalore    Semi-Furnished
14                    Bannerghatta Main Road  Bangalore    Semi-Furnished
15                     Vinayakanagar, Hebbal  Bangalore    Semi-Furnished
16                              venkatapuram  Bangalore    Semi-Furnished
17                      Vv Nagar, Bikasipura  Bangalore    Semi-Furnished
...                                      ...        ...               ...
3824                         Seven Bungalows     Mumbai         Furnished
3826                    Lodha Venezia, Parel     Mumbai    Semi-Furnished
3828                 L&T Emerald Isle, Powai     Mumbai    Semi-Furnished
3831  Bombay Dyeing Two ICC, Dadar TT Circle     Mumbai    Semi-Furnished
3835                          Ghatkopar West     Mumbai    Semi-Furnished

      Tenant Preferred  Bathroom Point of Contact  rent_per_sqft
12    Bachelors/Family       1.0    Contact Owner      22.857143
14    Bachelors/Family       3.0    Contact Agent      25.000000
15    Bachelors/Family       2.0    Contact Owner      18.571429
16    Bachelors/Family       1.0    Contact Owner      22.500000
17    Bachelors/Family       1.0    Contact Owner      18.571429
...                ...       ...              ...            ...
3824  Bachelors/Family       2.0    Contact Agent      93.750000
3826         Bachelors       2.0    Contact Agent     100.000000
3828  Bachelors/Family       2.0    Contact Agent      92.105263
3831  Bachelors/Family       6.0    Contact Agent     112.000000
3835  Bachelors/Family       1.0    Contact Owner      70.000000

[1575 rows x 13 columns]>

In [327]:
data.shape

(1575, 13)

In [328]:
data

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,rent_per_sqft
12,04-05-2022,1,8000.0,350.0,3 out of 3,Super Area,Thanisandra,Bangalore,Semi-Furnished,Bachelors/Family,1.0,Contact Owner,22.857143
14,06-07-2022,3,50000.0,2000.0,1 out of 2,Carpet Area,Bannerghatta Main Road,Bangalore,Semi-Furnished,Bachelors/Family,3.0,Contact Agent,25.000000
15,09-05-2022,2,13000.0,700.0,1 out of 4,Super Area,"Vinayakanagar, Hebbal",Bangalore,Semi-Furnished,Bachelors/Family,2.0,Contact Owner,18.571429
16,20-05-2022,1,13500.0,600.0,1 out of 4,Super Area,venkatapuram,Bangalore,Semi-Furnished,Bachelors/Family,1.0,Contact Owner,22.500000
17,16-06-2022,2,13000.0,700.0,Ground out of 1,Carpet Area,"Vv Nagar, Bikasipura",Bangalore,Semi-Furnished,Bachelors/Family,1.0,Contact Owner,18.571429
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3824,20-06-2022,1,45000.0,480.0,7 out of 7,Carpet Area,Seven Bungalows,Mumbai,Furnished,Bachelors/Family,2.0,Contact Agent,93.750000
3826,07-07-2022,2,90000.0,900.0,60 out of 71,Carpet Area,"Lodha Venezia, Parel",Mumbai,Semi-Furnished,Bachelors,2.0,Contact Agent,100.000000
3828,09-07-2022,2,70000.0,760.0,9 out of 22,Carpet Area,"L&T Emerald Isle, Powai",Mumbai,Semi-Furnished,Bachelors/Family,2.0,Contact Agent,92.105263
3831,25-05-2022,4,280000.0,2500.0,24 out of 60,Carpet Area,"Bombay Dyeing Two ICC, Dadar TT Circle",Mumbai,Semi-Furnished,Bachelors/Family,6.0,Contact Agent,112.000000
3835,08-06-2022,1,35000.0,500.0,1 out of 5,Super Area,Ghatkopar West,Mumbai,Semi-Furnished,Bachelors/Family,1.0,Contact Owner,70.000000

# cleaned data

In [329]:
data.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,rent_per_sqft
12,04-05-2022,1,8000.0,350.0,3 out of 3,Super Area,Thanisandra,Bangalore,Semi-Furnished,Bachelors/Family,1.0,Contact Owner,22.857143
14,06-07-2022,3,50000.0,2000.0,1 out of 2,Carpet Area,Bannerghatta Main Road,Bangalore,Semi-Furnished,Bachelors/Family,3.0,Contact Agent,25.000000
15,09-05-2022,2,13000.0,700.0,1 out of 4,Super Area,"Vinayakanagar, Hebbal",Bangalore,Semi-Furnished,Bachelors/Family,2.0,Contact Owner,18.571429
16,20-05-2022,1,13500.0,600.0,1 out of 4,Super Area,venkatapuram,Bangalore,Semi-Furnished,Bachelors/Family,1.0,Contact Owner,22.500000
17,16-06-2022,2,13000.0,700.0,Ground out of 1,Carpet Area,"Vv Nagar, Bikasipura",Bangalore,Semi-Furnished,Bachelors/Family,1.0,Contact Owner,18.571429

In [330]:
new_data = data.drop(columns=[ 'Posted On' , 'Floor' , 'Area Type' , 'Area Locality' , 'Furnishing Status' , 'Tenant Preferred' , 'Point of Contact','rent_per_sqft'])
#print(new_data)
new_data = new_data.to_csv("cleaned_data.csv")

# prediction

In [331]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression , Lasso , Ridge
from sklearn.preprocessing import OneHotEncoder , StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [332]:
X = data.drop(columns=['Rent' ,'Posted On' , 'Floor' , 'Area Type' , 'Area Locality' , 'Furnishing Status' , 'Tenant Preferred' , 'Point of Contact' , 'rent_per_sqft' ])
y = data['Rent']

In [333]:
X_train , X_test , y_train , y_test = train_test_split(X, y, test_size = 0.2 , random_state=0)

In [334]:
print(X_train.shape)
print(X_test.shape)

(1260, 4)
(315, 4)

# apply lin regression

In [335]:
column_transform = make_column_transformer(( OneHotEncoder(sparse = False) , ['City']), remainder = 'passthrough')

In [336]:
scaler = StandardScaler()

In [337]:
lr = LinearRegression(normalize = True)

In [338]:
pipe = make_pipeline(column_transform , scaler , lr)

In [339]:
#pipe = make_pipeline(StandardScaler(with_mean = False), LinearRegression)

In [340]:
pipe.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['City'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [341]:
y_pred_lr =pipe.predict(X_test)

In [342]:
r2_score(y_test , y_pred_lr)

0.7479516438514412

# apply lasso

In [343]:
lasso = Lasso()

In [344]:
pipe = make_pipeline(column_transform , scaler , lasso)
pipe.fit(X_train , y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['City'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [345]:
y_pred_lasso = pipe.predict(X_test)
r2_score(y_test , y_pred_lasso)

0.7479534174855573

# applying ridge

In [346]:
ridge = Ridge()

In [347]:
pipe = make_pipeline(column_transform , scaler , ridge)
pipe.fit (X_train , y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['City'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [348]:
y_pred_ridge = pipe.predict(X_test)
r2_score(y_test , y_pred_ridge)

0.7479856476666886

In [349]:
print("no regularisation:" , r2_score(y_test , y_pred_lr))
print("Lasso:" , r2_score(y_test , y_pred_lasso))
print("Ridge:" , r2_score(y_test, y_pred_ridge))

no regularisation: 0.7479516438514412
Lasso: 0.7479534174855573
Ridge: 0.7479856476666886

In [350]:
import pickle

In [351]:
pickle.dump(pipe, open('ridgeModel.pkl', 'wb'))